/* div.header-bar {
    display: block;
    color: white;
    background-color: black;
    text-align:justified;
    padding: 25px 16px;
    font-size: 36px;
    text-decoration: none;
    font-family: Palatino;

} */

* {
    box-sizing: border-box;
}

input[type=password],input[type=time],input[type=number],input[type=text], select, textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size:20px;
}

input[type=submit] {
   background-color:white;
    color:black;
    font-size:12px;
    padding:15px 32px;
    text-align:center;
    border-radius:8px;
    display:inline-block;
    border:1px solid black;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
     background-color: #4CAF50; /* Green */
    color: white;
}

.container {
    width: inherit;
    border:1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(240,240,240);
    padding: 20px;
}


form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.body-btn{
    background-color:white;
    color:black;
    font-size:15px;
    padding:10px 30px;
    text-align:center;
    border-radius:8px;
    display:inline-block;
    border:1px solid black;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.body-btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

div .comments{
  display: block;
  /* font-size: 15px; */
  border-bottom: 0.5px dashed grey;
  border-radius: 10px;
  width: 70vw;
}
.comments ul{
  padding: 0px;
}
.comments li{
  list-style-type: none;
  padding: 5px;
}

.comments label{
  display: inline;
  font-size: 18px;
  margin: 5px;
  padding: 10px;
}
input.comments {
  display: inline;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;

}

.like-btn .ng-dirty{
  color: red;
}
.like-btn:hover {
    background-color: red; /* Green */
    color: white;
}

.comment-btn {
  border: 1px solid;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #56b05c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.comment-btn:hover {
  background: #48d900;
  text-decoration: none;
}
