<!-- <!DOCTYPE html>
<html ng-app='MainApp' lang='en'>
<head>
<link rel="stylesheet" href="css/style1.css" type="text/css">
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />
<title>Add Recipe</title>
<style>
  article, aside, figure, footer, header, hgroup,
  menu, nav, section { display: block; }
</style>
</head>
<body>

<script type = "text/javascript" src="js/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
<script type = "text/javascript" src="js/angular/angular.min.js"></script>
<script type = "text/javascript" src="js/ng-file-upload/dist/ng-file-upload.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<div class="header-bar"><a href="index.html" style="color:white; text-decoration:none">Cook It Up</a></div>&nbsp;-->
<div class="container">

<form name="addRecipeForm" ng-controller="MediaController as mediaCtrl" ng-submit="mediaCtrl.uploadData(addRecipeForm)">
<span>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<img id="blah" ngf-thumbnail="pic || 'img/addrecipe.png'" style="width:200px;height:150px;border:double; border-radius:4px;"/>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
<video width="300" style="border:double; border-radius:4px;" ngf-thumbnail="video || 'img/video.png'" controls>
    Your browser does not support HTML5 video.
</video></br></br>

  <label for="pic">Upload Photo:</label>&ensp;<input type='file' ng-model="pic" name="pic" ngf-select ngf-accept="'image/*'">
  <button class="body-btn" ng-click="mediaCtrl.uploadPic(pic)">Upload</button>
  <span class="progress" ng-show="!mediaCtrl.errorMsg && pic.progress >= 0">
        <div style="width:{{pic.progress}}%" ng-bind="pic.progress + '%'"></div>
  </span>

  <span ng-show="pic.result">Done!</span>
  <span ng-show="mediaCtrl.errorMsg">OOPS! {{mediaCtrl.errorMsg}}</span>


&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<label for="video">Upload Video:</label>&ensp;<input type="file" name="video" ng-model="video" ngf-select ngf-accept="'video/*'">
  <button class="body-btn" ng-click="mediaCtrl.uploadPic(video)">Upload</button>
    <span class="progress" ng-show="!mediaCtrl.errorMsg && video.progress >= 0">
      <div style="width:{{video.progress}}%" ng-bind="video.progress + '%'"></div>
    </span>

    <span ng-show="video.result">Done!</span>
    <span ng-show="mediaCtrl.errorMsg">OOPS! {{mediaCtrl.errorMsg}}</span>

</span><br><br>
<!-- <script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(200)
                    .height(150);
            };
             reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
        $(document).on("change", ".file_multi_video", function(evt) {
        var $source = $('#video_here');
        $source[0].src = URL.createObjectURL(this.files[0]);
        $source.parent()[0].load();
        });
</script> -->
<span ng-controller = "IngrController as ingrCtrl">
     <label>Recipe Name:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" ng-model="addRecipeForm.recipeName" placeholder="Enter the name of the recipe" required></br><br>
     <label>Ingredients Required:</label>
      <hr>
       <label>Select your ingredients</label>
       <details ng-repeat = "type in ingrCtrl.types">
         <summary align="left">{{type.name}}</summary>
         <label ng-repeat = "option in type.options">
           <input type="checkbox" name = "selectIngr" value="{{option}}" ng-click="ingrCtrl.checkIngr(option)"/>{{option}}
         </label>
       </details>

       <hr>

</span>

     <label for = "Method">Method:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" cols="50" rows="10" style="width:200px; height:50px;" ng-model="addRecipeForm.method" required/></br></br>
     <label for="time">Time Required:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="time" ng-model="addRecipeForm.time"></br></br>
     <label for="serve">Serve:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="number" placeholder="Enter no. of serving" ng-model="addRecipeForm.serve" min="1">
     &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<label for="taste">Taste:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" ng-model="addRecipeForm.taste" placeholder="Level of Taste eg:mild/spicy,etc."></br></br>
<span ng-controller = "MealController as mealCtrl">
     <label>Select meal type:</label>
&ensp;&ensp;&ensp;&ensp;<Select ng-model="meal_model" ng-options = "type for type in mealCtrl.meal" ng-change="mealCtrl.selectMeal(meal_model)">
        <option value="" >--Select Meal Type--</option>
    </Select>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
      <label>Select cuisine type:</label>
&ensp;&ensp;<Select ng-model="cuisine_model"  ng-options = "type for type in mealCtrl.cuisine" ng-change="mealCtrl.selectCuisine(cuisine_model)">
        <option value="" > -- Select Cuisine Type --></option>
      </Select></br></br></br>
      <center><input type="submit" name="button" value="Add"></center>
</span>
</form>

</div>
<!-- </body>
</html> -->
