<div class="container">
<form name="addRecipeForm" ng-controller="FormController as formCtrl" ng-submit="formCtrl.uploadData(addRecipeForm,mainCtrl.userid)">

  <div class="row">
    <div class="col-md-6">

<span>
<img ng-repeat="pic in pics" ngf-thumbnail="pic" style="width:200px;height:150px;border:double; border-radius:4px;"/>
<img  ng-hide="pics" ngf-thumbnail="'img/addrecipe.png'" style="width:200px;height:150px;border:double; border-radius:4px;"/>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;


  <label for="pics">Upload Photo:</label>&ensp;<input type='file' ng-model="pics" ngf-select multiple ngf-accept="'image/*'">
  <br/><button class="body-btn" ng-click="formCtrl.uploadPic(pics)">Upload</button>
  <span class="progress" ng-show="!pics.errorMsg && pics.progress >= 0">
        <div style="width:{{pics.progress}}%" ng-bind="pics.progress + '%'"></div>
  </span>

  <span style="color:green;" ng-show="pics.result">Done!</span>
  <span style="color:red;" ng-show="pics.errorMsg">OOPS! {{pic.errorMsg}}</span>
</div>

<div class="col-md-6">

  <video width="200" style="width:200px; height:150px; border:double; border-radius:4px;" ng-repeat="video in videos" ngf-thumbnail="video" controls>
      Your browser does not support HTML5 video.
  </video>
  <img  ng-hide="videos" ngf-thumbnail="'img/video.png'" style="width:200px;height:150px;border:double; border-radius:4px;"/>
  </br></br>

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<label for="video">Upload Video:</label>&ensp;<input type="file" name="video" ng-model="videos" ngf-select multiple ngf-accept="'video/*'">
  <br/><button class="body-btn" ng-click="formCtrl.uploadPic(videos)">Upload</button>
    <span class="progress" ng-show="!videos.errorMsg && videos.progress >= 0">
      <div style="width:{{video.progress}}%" ng-bind="videos.progress + '%'"></div>
    </span>

    <span style="color:green;" ng-show="videos.result">Done!</span>
    <span style="color:red;" ng-show="videos.errorMsg">OOPS! {{video.errorMsg}}</span>
</div>
</span><br><br>
</div>

<span ng-controller = "IngrController as ingrCtrl">
     <label>Recipe Name:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" ng-model="addRecipeForm.recipeName" placeholder="Enter the name of the recipe" required></br><br>
     <label>Ingredients Required:</label><br/>
       <label>Select your ingredients</label>
       <details ng-repeat = "type in ingrCtrl.types">
         <summary align="left">{{type.type}}</summary>
         <label ng-repeat = "option in type.options">
             <input type="checkbox" ng-model="addRecipeForm.selectedIngr[option.ingredient_name]" ng-true-value="'Y'" ng-false-value = "'N'" />{{option.ingredient_name}}
         </label>
       </details>
</span>

      <label for = "other_ingredients">Other ingredients:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<textarea type="text" cols="50" rows="50" style="width:1000px; height:80px;" ng-model="addRecipeForm.other_ingre"></textarea></br></br>

     <label for = "Method">Method:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<textarea type="text" cols="140" rows="80" style="width:1000px; height:300px;" ng-model="addRecipeForm.method" required></textarea></br></br>

     <label for="time">Time Required:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" ng-model="addRecipeForm.time"></br></br>
<label for="serve">Serve:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="number" placeholder="Enter no. of serving" ng-model="addRecipeForm.serves" min="1">
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<label for="taste">Taste:</label>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" ng-model="addRecipeForm.taste" placeholder="Level of Taste eg:mild/spicy,etc."></br></br>
<span ng-controller = "MealController as mealCtrl">
     <label>Select meal type:</label>
&ensp;&ensp;&ensp;&ensp;<Select ng-model="addRecipeForm.selectMeal" ng-options = "type for type in mealCtrl.meal" >
        <option value="" >--Select Meal Type--</option>
    </Select>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
      <label>Select cuisine type:</label>
&ensp;&ensp;<Select ng-model="addRecipeForm.selectCuisine"  ng-options = "type for type in mealCtrl.cuisine">
        <option value="" > -- Select Cuisine Type --></option>
      </Select></br></br></br>
      <center><input type="submit" name="button" value="Add"></center>
</span>


<label class="success" ng-show"formCtrl.successMsg">{{formCtrl.successMsg}}</label>
<label class="error" ng-show="formCtrl.errorMsg">{{formCtrl.errorMsg}}</label>
</form>

</div>
