<div class="container">
    <center>
      <img src="img/login.png" width="100px" height="100px"></img>
      <form name="loginForm" ng-submit="mainCtrl.doLogin(loginForm)">
        <label>Name:</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="Enter Username" ng-model="loginForm.uname" required></br></br>
        <label>Password:</label>
        <input type="password" placeholder="Enter Password" ng-model="loginForm.pswd" required></br></br>
        <button type="submit" class="body-btn">Login</button></br></br>
        <div class="psw">Forgot <a href="#">password?</a></div>
      </form>
    </center>

    <label class="success" ng-show="mainCtrl.successMsg">{{mainCtrl.successMsg}}</label>
    <label class="error" ng-show="mainCtrl.errorMsg">{{mainCtrl.errorMsg}}</label>
</div>
<!-- </body>
</html> -->
