<!-- <h4>{{mainCtrl.username}}'s Profile</h4> -->
<style>
.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn {margin-top:10px; margin-right: 10px;padding: 1px 15px 3px 2px; border-radius:50px;}
</style>

<div class="container-fluid"  ng-controller='ProfileController as profileCtrl'>
<div class="usr-prof">
  <label>&nbsp;&nbsp;&nbsp;
  <img ng-src="data:image/jpg;base64,{{profileCtrl.userInfo.pro_pic}}"
        onerror="this.onerror=null;this.src='img/default.png';"
        style="height:200px; width:200px;">
      </label>
      <label>
  <p style="font-size:20px;text-align:left;">{{profileCtrl.userInfo.username}}</p>
  <p style="font-size:20px;text-align:left;">{{profileCtrl.userid}}</p>
  <p style="font-size:20px;text-align:left;">{{profileCtrl.userInfo.description}}</p>
</label>
</div>
</div>
<hr style="border-top: 1px dotted #8c8b8b;">


<h2>&nbsp;&nbsp;&nbsp;Uploaded Recipes:</h2>


<section ng-controller = "uploadedRecipesCtrl as upCtrl">

  <div ng-show="upCtrl.uploadedRecipes.length==0"><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No recipes to display.</h4></div>
  <div ng-show="upCtrl.uploadedRecipes" class="recipe" ng-repeat = "recipe in upCtrl.uploadedRecipes">
    <!-- <a class="recipe" ui-sref="recipe-view({recipeID : recipe.recipe_name })"> -->
        <div class="recp">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="recipe" ui-sref="recipe-view({recipeID : recipe.recipe_name })">
          <img style="height : 200px; width:200px;"
          ng-src="img/recipes/{{recipe.recipe_name}}.jpg"
          onerror="this.onerror=null;this.src='img/no_img.png';" />
        </label>          <!-- ng-repeat="image in recipeViewCtrl.recipe.images" -->
          <label><p>Name: {{recipe.recipe_name|capitalize}}</p>
          <p>Uploaded by: {{recipe.uploader|capitalize}}</p>
          <p>Likes:{{recipe.liked_by.length}}</p>
        </label>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>
          <button class="body-btn"  ng-click="mainCtrl.removeRecipe(recipe.recipe_id,mainCtrl.userid)">Remove</button>
        </label>
      </div>
    <!-- </a> -->
  </div>
</section>
