<div class="container">
<h3>{{recipeViewCtrl.recipe.recipe_name}}</h3>
    <img style="height : 300px; width:300px;" ng-repeat="image in recipeViewCtrl.recipe.images" ng-src="'data:image/jpg;base64,{{image}}'" onerror="this.onerror=null;this.src='img/no_img.png';"/>
  <div>
    <b>Created By : </b><label>{{recipeViewCtrl.recipe.uploader}}</label>
  </div>
  <button class="like-btn">Likes:{{recipeViewCtrl.recipe.likes}}</button>
  <div>
    <b>Ingredients used : </b><label><i>{{recipeViewCtrl.recipe.ingredients.join(",")}}</i></label>
  </div>
  <div>
    <b>Preparation Method : </b>
    <p style="font-size : 20px;">{{recipeViewCtrl.recipe.method}}</p>
    <!-- <ul>
      <li ng-repeat = "step in recipeViewCtrl.recipe.method">{{step}}</li>
    </ul> -->
  </div>

  <!-- Comments -->
  <div class="container">
    <label>Comments</label>
    <div class="comments">
      <ul>
        <li ng-repeat = "comment in recipeViewCtrl.recipe.comments">
          <label><b>{{comment.userid}}</b> : {{comment.body}}</label>
        </li>
      </ul>
    </div>
    <label ng-show="mainCtrl.isLoggedIn"><b>{{mainCtrl.userid}}</b> : </label>
    <input class="comments" type="text" ng-model="recipeViewCtrl.userComment" placeholder="Share Your views"/>
    <button ng-click="recipeViewCtrl.recipe.addComment(mainCtrl.userid,recipeViewCtrl.userComment)" class="comment-btn">Submit</button>
    <label ng-show="recipeViewCtrl.commentSuccess">Done!</label>
    <label ng-show="recipeViewCtrl.commentError">Error!<label>

  </div>
</div>
