<body ng-app="validationApp" ng-controller="mainController">

<div class="header-bar">
  <a ui-sref="home" style="color:white; text-decoration:none"><img src="img/logo.png"/></a>
  <span class="header-bar" ng-hide = "mainCtrl.isLoggedIn"><a ui-sref="login">
    <button class="header-bar">Login</button></a>
    <a ui-sref="signup">
      <button class="header-bar">Sign Up</button></a>
    </span>

    <span class="header-bar" ng-show="mainCtrl.isLoggedIn">
      <a ui-sref="user.profile({userID: mainCtrl.username})"><img class="header-icon" src="img/user_profile.png"/><p class="header-bar">{{mainCtrl.username}}</p></a>
      <button class="header-bar" ng-click="mainCtrl.logout()">Logout</button>
    </span>
</div>

<div class="container">
    <center>
      <h2>Resend activation link</h2>
      <form name="loginForm" ng-submit="mainCtrl.resendLink(loginForm)">
        <div class="form-group" ng-class="{ 'has-error' :
             loginForm.name.$invalid && !loginForm.name.$pristine }">
        <label>Email ID:</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" placeholder="Enter Username" ng-model="loginForm.uname" name="name" required>
        <span ng-show="loginForm.name.$invalid && !loginForm.name.$pristine" class="help-block">
              Enter a valid email!
            </span>
          </div>
          <div class="form-group" ng-class="{ 'has-error' :
                       loginForm.pass_word.$invalid && !loginForm.pass_word.$pristine }">
        <label>Password:</label>
        <input type="password" placeholder="Enter Password" ng-model="loginForm.pswd" name="pass_word" ng-minlength="6" ng-maxlength="15" required>
        <span ng-show="loginForm.pass_word.$invalid && !loginForm.pass_word.$pristine" class="help-block">Password must be between 6-15 characters!</span>
                </div>
        <button type="submit" class="body-btn">Resend Activation Link</button></br></br>
      </form>

    <label class="success" ng-show="mainCtrl.resendSuccessMsg">{{mainCtrl.resendSuccessMsg}}</label>
    <label class="error" ng-show="mainCtrl.resendErrorMsg">{{mainCtrl.resendErrorMsg}}</label>

    </center>
</div>
</body>
<!--</html> -->
