<div class="container">
  <center>
    <img src="img/signup.png" width="100px" height="100px"></img>
      <form name="signup" action="">
        <label>Enter your email id:</label>
        <input type="text" id="id" placeholder="Enter your email-id" required><br/><br/>
        <label>Enter your name:&nbsp;&nbsp;&ensp;</label>
        <input type="text" id="name" placeholder="Enter your name" required><br/><br/>
        <label>Enter password:&ensp;&ensp;&nbsp; </label>
        &nbsp; <input type="password" id="pwd" placeholder="Enter password" required><br/><br/>
        <label>Confirm password:                 </label>
        &nbsp;&nbsp;<input type="password" id="confirmpwd" placeholder="Re-write your password" required><br/><br/>
        <button class="body-btn">Sign Up</button>
      </form>
    </center>
</div>
<!--
  </body>
  </html> -->
